/* SET COLORS */

:root {
    --light-orange: #ffe294;
    --dark-orange: #fdc056;
    --light-green: #d3c751;
    --dark-green: #677234;
    --light-pink: #f79c89;
    --dark-pink: #f47469;
    --offwhite: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-orange);
    color: black;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    line-height: 1.5;
}

body,
html {
    height: 100%;
}

body {
    font-size: 1.2em;
}

/* HEADER WITH NAVIGATION SECTION STYLE */

header {
    width: 100%;
    min-height: 75px;
    top: 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--dark-orange);
    font-size: 1.3em;
}

/* MAIN SECTION STYLE */

main {
    width: 80%;
    margin: 40px auto;
    background-color: var(--offwhite);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* HOME SECTION STYLE */

section {
    max-width: 700px;
    margin: 0 auto;
}

#home {
    background-color: pink;
    text-align: center;
}


h1 {
    font-size: 2em;
}

p {
    padding: 20px 0;
}

button {
    display: block;
    font-size: 1.2em;
    background-color: var(--light-green);
    border: 1px solid var(--light-green);
    border-radius: 10px;
    padding: 8px 12px;
    margin: 0 auto 20px auto;
}

button:hover {
    background-color: var(--dark-green);
    color: white;
    border: 1px solid var(--dark-green);
}